/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/files
/public/admin/js/admin.js
/public/admin/css/admin.css
/public/js/app.js
/public/js/bootstrap.js
/public/css/app.css

