@import "node_modules/ion-rangeslider/css/ion.rangeSlider";
@import "node_modules/ion-rangeslider/css/ion.rangeSlider.skinNice";
@import "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker";

.loading-container {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  background-color: #fff;
  opacity: 0.8;
}

.loading-inner {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.loading-cell {
  display: table-cell;
  vertical-align: middle;
}

.loading-progress {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:20px;
}


.item-container .image-box {
  min-height:200px;
  padding: 0;
}

/**
 * General
 */

.pos-rel {
  position:relative;
}

.cursor-pointer {
  cursor:pointer;
}

.m-b-none-i {
  margin-bottom:0 !important;
}


/**
 Page Header
 */

.list-page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  .action-btn-container {
    position: absolute;
    bottom: 2px;
    width: 100%;
  }

}

/**
 * Entity row hover buttons
 */

.entity-row {
  .action button, .action a  {
    visibility: hidden;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }

  &:hover{
    .action button, .action a {
      visibility: visible;
      -webkit-transition-property: none;
      -moz-transition-property: none;
      -o-transition-property: none;
      transition-property: none;
    }
  }

}

/**
 * User
 */

.avatar-file-box {
  width:271px;
}
