.item-container .image-box {
    min-height:200px;
    padding: 0;
}

/**
 * General
 */

.pos-rel {
    position:relative;
}

.cursor-pointer {
    cursor:pointer;
}

.m-b-none-i {
    margin-bottom:0 !important;
}

.list-style-none {
    list-style: none;
}

.p-l-0 {
    padding-left:0;
}

/**
 Page Header
 */

.list-page-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.list-page-header .action-btn-container {
    position: absolute;
    bottom: 2px;
    width: 100%;
}



/**
 * Entity row hover buttons
 */


.entity-row .action button, .entity-row .action a {
    visibility: hidden;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}


.entity-row:hover .action button, .entity-row:hover .action a {
    visibility: visible;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

/**
 * User
 */

.avatar-file-box {
    width:271px;
}

/**
 * Entity assets container
 */

.entity-image-container {
    height: 150px !important;
    background-size: cover;
}

.entity-image-name {
    height: 60px;
    word-break: break-all;
}

.entity-image-actions {
    padding: 10px;
    background-color: #f8f8f8;
}