/** ==================
 * Global
 * ===================
 */
#navbar-top {
  z-index:100 !important;
}

.g-bg-main-light-v1 {
  background-color: #262729;
}

.btn-cursor {
  cursor:pointer;
}










